:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.PhoneInputInput {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important; /* normal border color */
}

/* All CreatableSelect components with classNamePrefix="my-select" */
.my-select__control {
  box-shadow: none !important; /* remove focus outline */
  border-color: #ced4da !important; /* normal border color */
}

.my-select__control:hover {
  border-color: #adb5bd !important; /* subtle hover effect */
}

.my-select__input input {
  outline: none !important; /* remove inner input outline */
}

.my-select__menu {
  z-index: 1050; /* optional: ensure menu appears above modals */
}

/* sidebar */
.sidebar-link-titles {
  color: #91a59b;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.sidebar-link {
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 8px;
  gap: 10px;
  text-wrap-mode: wrap;
}

.sidebar-link.active-link {
  color: #28a745; /* text color when active */
  background-color: #278c582e; /* background when active */
}
.sidebar-link:hover {
  background-color: #278c582e; /* background on hover */
  color: #28a745; /* text color on hover */
}
.form-control:focus {
  border-color: #ced4da !important; /* default border */
  box-shadow: none !important; /* remove blue glow */
}
.form-select:focus {
  border-color: #ced4da !important; /* default border */
  box-shadow: none !important; /* remove blue glow */
}

.form-select option:hover {
  background-color: #8b7979 !important; /* Light gray */
  color: #000;
}

.form-select option:checked {
  background-color: #d0d0d0; /* Slightly darker gray */
  color: #000;
}

/* Focused select box */
.form-select:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
}
.custom-checkbox-color .form-check-input[type="checkbox"]:checked {
  background-color: #2e3a59 !important;

  border-color: #2e3a59 !important;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}

.custom-checkbox-color .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(46, 58, 89, 0.25) !important;
}
.qr-scanner-button {
  background-color: #1b213b;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.qr-scanner-icon-container {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-scanner-icon-container svg {
  color: #1b213b;
  font-size: 24px;
}

.qr-scanner-text {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bold;
}
.text-danger {
  color: #dc3545 !important;
  font-size: 0.875em;
  margin-top: 0.25rem;
}
.table-sm-custom td,
.table-sm-custom th {
  padding: 0.5rem 0.5rem; /* Adjust padding for a smaller table */
}
.align-middle-custom td {
  vertical-align: middle;
}

.table-sm-custom td,
.table-sm-custom th,
.form-control,
.form-select {
  font-size: 0.85rem !important;
}
.card-custom {
  background-color: #f4f4f8 !important;
}
/* .table thead tr {
  background-color: #2E3A59 !important;
  color: white !important;
} */
.search-input-wrapper {
  position: relative;
}

.search-clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f4f4f8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6; /* Optional: adds a subtle border */
}
